
<body>
    
    <div [hidden]="!isDetailsInValid">
    <form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" >
<div class="container">
    <h1>Login page</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">Email ID  :</label>
        <input type="email" class="form-control" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="exampleInputEmail1" name="email" placeholder="Email" ngModel #email="ngModel">
        </div>
        <p *ngIf ="userForm.submitted && email.errors?.required" style="color:red">Please enter email id</p>
        <p *ngIf ="userForm.submitted && email.touched && email.errors?.pattern" style="color:red"> Please enter valid email id</p>

<div class="form-group">
    <label for="exampleInputPassword1">Password :</label>
    <input type="password" class="form-control" required name="password" minlength="4" maxlength="8" id="exampleInputPassword1" placeholder="Password" ngModel #password="ngModel">
    </div>
    <p *ngIf ="userForm.submitted && password.errors?.required" style="color:red">Please enter password</p>
    <p *ngIf ="userForm.submitted && password.errors?.minlength" style="color:red">Pswd should be 4 char</p>

<div class="form-group">
    <label for="exampleInputFile">Username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="User Name" ngModel #username ="ngModel">
    </div>
    <p *ngIf ="userForm.submitted && username.errors?.required" style="color:red">Please enter username</p>


        <div class="checkbox">
            <label for="exampleInputFile"> Hobbies :</label> 
                <select class="option" name="hobbies" ngModel required #hobbies="ngModel">
                    <option value=" ">--None--</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Football">Football</option>
                    <option value="Batminton">Batminton</option>
                    <option value="Dance">Dance</option>
                </select> 
            <p *ngIf ="userForm.submitted && hobbies.errors?.required" style="color:red">Please Select hobbies</p>
        </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

<div [hidden]="isDetailsInValid">
    Sreekanth
</div>
</body>